@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap);
body {background-color: #272727;}

h1{
    font-family: "Roboto";
    font-size: 4vw;
    font-weight: 300;
    margin-top: 50%;
    text-align: center;
    font-style: bold;
    color: #F6B920;
}

h2{
    font-family: "Roboto";
    font-size: 3vw;
    font-weight: 200;
    text-align: center;
    color: #FFFFFF;
}

h3{
    font-family: "Roboto";
    font-size: 1.9vw;
    font-weight: 100;
    text-align: center;
    color: #C0C0C0;
}

h4{
    font-family: "Roboto";
    font-size: 2vw;
    font-weight: 400;
    text-align: center;
    color: #F6B920;
}

h5{
    font-family: "Roboto";
    font-size: 1.9vw;
    font-weight: 300;
    color: #C0C0C0;
}

p{
    font-family: "Roboto";
    font-size: 1.8vw;
    font-weight: 300;
    text-align: center;
    color: #C0C0C0;
}

strong{
    font-family: "Roboto";
    font-size: 1.4vw;
    font-weight: 300;
    text-align: center;
    color: #272727;
}

i{
    font-family: "Roboto";
    font-size: 1.4vw;
    text-align: center;
    font-style: normal;
    color: #505050;
}

b{
    font-family: "Roboto";
    font-size: 1.4vw;
    text-align: center;
    color: rgb(255, 183, 0);
}

.column{
    float: left;
    width: 50%;
}

.row:after{
    display: flex;
    float: left;
    justify-content: flex-end;
    clear: both;
    width: 50%;
}

.icons{
    margin-top: 0px;
    width: 100%;
    float: left;
    float: top;
}

.about{
    margin-top: 1.5%;
    margin-bottom: 4%;
    float: left;
    width: 42%;
}

.languages{
    margin-top: 1%;
    margin-bottom: 4%;
    float: right;
    width: 58%;
}

.hobbies{
    margin-top: 2%;
    margin-bottom: 4%;
    clear: both;
    float: center;
    text-align: center;
}

.bars{
    margin-left: 15%;
}

.container {
    position: relative;
}

.text-block {
    position: absolute;
    top: 30%;
    left: 37%;
    background-color: #FFFFFF;
    opacity: 0.5;
    padding-left: 35px;
    padding-right: 30px;
    transform: translate(40%, -27%);
}

.text-head {
    position: absolute;
    transform: translate(-10%, -30%);
    width: 100%;
    top: 1%;
    left: 10%;
}

.experience{
    float: left;
    width: 50%;
}

.exp:after{
    float: right;
    clear: both;
    width: 50%;
}
.container2 {
    position: relative;
}
  
.text-block2 {
    position: absolute;
    top: 70%;
    left: 10%;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    padding-left: 60px;
    padding-right: 60px;
    transform: translate(4%, 27%);
}


@media only screen and (max-device-width: 600px) {
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 23px;
    }
    h3{
        font-size: 16px;
    }
    h4{
        font-size: 16px;
    }
    h5{
        font-size: 15px;
    }
   p{
       font-size: 15px;
    }
   b{
        font-size: 17px;
    }
   i{
        font-size: 17px;
    }
   strong{
        font-size: 17px;
    }
} 

